<div class="articles contents">
  {% for article in articles %}
    {% set article_link = "/articles/#{article._id}" %}
    <div class="article content-data">
      <div class="content-list-image">
        <a href={{ article_link }}>
          <img src="http://all.culture.ru/uploads/{{ article.image.name|replace({'.': '_w150_h100.'}) }}" />
        </a>
      </div>

      <div class="content-list-content">
        <div class="content-date">
          {{ article.updateDate|split('')|slice(0, -3)|join('')|format_date('pro_date') }}
        </div>

        <div class="content-list-name">
          <a href={{ article_link }}>
            {{ article.name }}
          </a>
        </div>

      {% for content in article.content %}
        {% if content.type == 'text' %}
          <div class="content-list-text">
            {% set text = content.text %}
            {{ text|raw }}
          </div>
        {% endif %}
      {% endfor %}

      </div>
    </div>
  {% endfor %}

  {% if articles|length == 0 %}
    <div class="content-not-found">Статей с заданными условиями не найдено</div>
  {% endif %}
</div>