<div class="events contents">
  {% for event in events %}
    {% set event_link = get_event_region_url(event) ~'/events/'~ event._id %}

    <div class="event content-data">
      <div class="content-list-image">
        <a href={{ event_link }}>
          <img src="http://all.culture.ru/uploads/{{ event.image.name|replace({'.': '_w150_h100.'}) }}" />
        </a>
      </div>

      <div class="content-list-content">
        <span class="content-date content-date-start">
          {{ event.start|split('')|slice(0, -3)|join('')|format_date('pro_date_and_time') }}
        </span>
         —
        <span class="content-date content-date-end">
          {{ event.end|split('')|slice(0, -3)|join('')|format_date('pro_date_and_time') }}
        </span>

        <div class="content-list-name">
          <a href={{ event_link }}>
            {{ event.name }}
          </a>
        </div>

        <div class="content-list-text">
          {{ event.shortDescription|raw }}
        </div>
      </div>
    </div>
  {% endfor %}

  {% if events|length == 0 %}
    <div class="content-not-found">Событий с заданными условиями не найдено</div>
  {% else %}
    {% if more_link %}
      <div class="clearfix all-content-link-wrapper">
        {{ more_link }}
      </div>
    {% endif %}

  {% endif %}
</div>