{{ attach_library('pro_content/popups') }}

<article>
  {% if event.image %}
    <div class="content-image">
      <a href="http://all.culture.ru/uploads/{{ event.image.name }}" class="magnific-popup">
        <img src="http://all.culture.ru/uploads/{{ event.image.name|replace({'.': '_w250_h200.'}) }}" />
      </a>
    </div>
  {% endif %}

  {% if event.description %}
    <div class="content-description">
      <h2>Описание события:</h2>
      {{ event.description|raw }}
    </div>
  {% endif %}

  {% if event.organization %}
    <div class="content-organization">
      <h2>Организация:</h2>
      {{ event.organization.name }}
    </div>
  {% endif %}

  {% if event.places %}
    <div class="content-places">
      <h2>Место проведения:</h2>
      <ul>
        {% for place in places_seances %}
          <li>{{ place.full_name|raw }}</li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}

  <h2>Стоимость:</h2>
  {{ price }}

  {% if seances %}
    <h2>Сеансы</h2>
    <ul>
      {% for seance in seances %}
        <li>{{ seance }}</li>
      {% endfor %}
    </ul>
  {% endif %}

  {% if event.gallery %}
    <div class="clearfix"></div>
    <div class="content-images">
      {% for image in event.gallery %}
        <a href="http://all.culture.ru/uploads/{{ image.name }}" class="magnific-popup-gallery">
          <img src="http://all.culture.ru/uploads/{{ image.name|replace({'.': '_w150_h100.'}) }}" />
        </a>
      {% endfor %}
    </div>
  {% endif %}

  <div id="ymap" style="width: 100%; height: 400px"></div>
  {{ attach_library('pro_content/ya_maps_events') }}


  {% if event.category %}
    <div class="content-category">
      <h2>Категория:</h2>
      {{ event.category.name }}
    </div>
  {% endif %}

  {% if event.tags %}
    <div class="content-tags">
      <h2>Тэги:</h2>
      <ul>
        {% for tag in event.tags %}
          <li><a href="{{ get_event_region_url(event) }}/tag/{{ tag._id }}">{{ tag.name }}</a></li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
</article>