{{ attach_library('pro_content/popups') }}

<article>
  {% if place.image %}
    <div class="content-image">
      <a href="http://all.culture.ru/uploads/{{ place.image.name }}" class="magnific-popup">
        <img src="http://all.culture.ru/uploads/{{ place.image.name|replace({'.': '_w250_h200.'}) }}" />
      </a>
    </div>
  {% endif %}

  {% if address %}
    <div class="content-address">
      <h2>Адрес:</h2>
      {{ address }}
    </div>
  {% endif %}

  {% if place.description %}
    <div class="content-description">
      <h2>Описание:</h2>
      {{ place.description|raw }}
    </div>
  {% endif %}

  {% if contacts %}
    <div class="content-contact">
      <h2>Контакты:</h2>
      <ul>
        {% for contact in contacts %}
          <li>{{ contact|raw }}</li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}

  {% if schedule %}
    <div class="content-schedule">
      <h2>Время работы:</h2>
      <ul>
        {% for sch in schedule %}
          <li>{{ sch|raw }}</li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}

  {% if place.organization %}
    <div class="content-organization">
      <h2>Организация:</h2>
      {{ place.organization.name }}
    </div>
  {% endif %}

  {% if place.gallery %}
    <div class="clearfix"></div>
    <div class="content-images">
      {% for image in place.gallery %}
        <a href="http://all.culture.ru/uploads/{{ image.name }}" class="magnific-popup-gallery">
          <img src="http://all.culture.ru/uploads/{{ image.name|replace({'.': '_w150_h100.'}) }}" />
        </a>
      {% endfor %}
    </div>
  {% endif %}

  {% if place.mapPosition.type %}
    <div id="ymap" style="width: 100%; height: 400px"></div>
    {{ attach_library('pro_content/ya_maps_places') }}
  {% endif %}

  {% if place.category %}
    <div class="content-category">
      <h2>Категория:</h2>
      {{ place.category.name }}
    </div>
  {% endif %}

  {% if place.tags %}
    <div class="content-tags">
      <h2>Тэги:</h2>
      <ul>
        {% for tag in place.tags %}
          <li><a href="{{ get_place_region_url(place) }}/tag/{{ tag._id }}">{{ tag.name }}</a></li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
</article>