{{ attach_library('pro_content/popups') }}

<article>
  <div class="content-date">
    {{ article.updateDate|split('')|slice(0, -3)|join('')|format_date('pro_date') }}
  </div>

  {% if article.image %}
    <div class="content-image">
      <a href="http://all.culture.ru/uploads/{{ article.image.name }}" class="magnific-popup">
        <img src="http://all.culture.ru/uploads/{{ article.image.name|replace({'.': '_w250_h200.'}) }}" />
      </a>
    </div>
  {% endif %}

  <div class="content-description">
    {{ description }}
  </div>

  {% if article.event %}
    <div class="content-event">
      <h2>Событие:</h2>
      <a href="{{ regionUrl }}/events/{{ article.event._id }}">
        {{ article.event.name }}
      </a>
    </div>
  {% endif %}

  {% if article.organization %}
    <div class="content-organization">
      <h2>Организация:</h2>
      {{ article.organization.name }}
    </div>
  {% endif %}

  {% if images %}
    <div class="clearfix"></div>
    <div class="content-images">
      {% for image in images %}
        <a href="http://all.culture.ru/uploads/{{ image.name }}" class="magnific-popup-gallery">
          <img src="http://all.culture.ru/uploads/{{ image.name|replace({'.': '_w150_h100.'}) }}" />
        </a>
      {% endfor %}
    </div>
  {% endif %}

  {% if article.category %}
    <div class="content-category">
      <h2>Категория:</h2>
      {{ article.category.name }}
    </div>
  {% endif %}

  {% if article.tags %}
    <div class="content-tags">
      <h2>Тэги:</h2>
      <ul>
      {% for tag in article.tags %}
        <li><a href="{{ path('pro_content.tag_articles_all', {'tag': tag._id}) }}">{{ tag.name }}</a></li>
      {% endfor %}
      </ul>
    </div>
  {% endif %}
</article>