<div class="places contents">
  {% for place in places %}
    {% set place_link = get_event_region_url(place) ~'/places/'~ place._id %}

    <div class="place content-data">
      <div class="content-list-image">
        <a href={{ place_link }}>
          <img src="http://all.culture.ru/uploads/{{ place.image.name|replace({'.': '_w150_h100.'}) }}" />
        </a>
      </div>

      <div class="content-list-content">
        <div class="content-list-name">
          <a href={{ place_link }}>
            {{ place.name }}
          </a>
        </div>

        <div class="content-list-text">
          {{ place.description|striptags|replace({'&nbsp;': ' '})|truncate(250) }}
        </div>
      </div>
    </div>
  {% endfor %}

  {% if places|length == 0 %}
    <div class="content-not-found">Мест с заданными условиями не найдено</div>
  {% else %}
    {% if more_link %}
      <div class="clearfix all-content-link-wrapper">
        {{ more_link }}
      </div>
    {% endif %}
  {% endif %}

</div>