{#
/**
 * @file cpayment_operation.html.twig
 * Default theme implementation to present Cpayment operation data.
 *
 * This template is used when viewing Cpayment operation pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_cpayment_operation()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('cpayment_operation') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
