{#
/**
 * @file cpayment_balance.html.twig
 * Default theme implementation to present Cpayment balance data.
 *
 * This template is used when viewing Cpayment balance pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_cpayment_balance()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('cpayment_balance') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
