{% for first_letter, locale in locales %}
  <h3 class="region-first-letter">{{ first_letter }}</h3>
  <div class="item-list">
    <ul>
      {% for locale_id, link in locale %}
        <li class="locale-{{ locale_id }}">
          {{ link }}
          <a href="{{ path('pro_front.load_sublocales') }}?parent_id={{ locale_id }}"
             class="use-ajax load-sublocales">
            +
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
{% endfor %}