.body-bg{
	background-color: #f9f9f9;
	padding-top: 30px;
	padding-bottom: 30px;
}
h2{
	text-align: center;
}
a{
	color: #e51758;
}

/* All mails, except simplenews */
.not-simplenews #main{
	width: 90%;
	margin: 0px auto;
	border: 6px solid #efeae8;
	background: url(http://cooklikemary.ru/sites/all/themes/cooklikemary/images/right-bg.png) 95% 100% no-repeat;	
	background-color: #fff;	
}
.not-simplenews #center{
	background-color: #f9f9f9;
	padding-top: 30px;
	padding-bottom: 30px;
}
.not-simplenews .mimemail-body-wrapper{
	padding-left: 30px;
	padding-right: 30px;
}
.mimemail-header{ 
	clear: both; 
	margin-bottom: 30px; 
	padding: 30px; 
	background:url(http://cooklikemary.ru/sites/all/themes/cooklikemary/images/bg-dotted.png) left bottom repeat-x;
}
.mimemail-header table{ 
	border: none; width: 100%; 
	border-spacing: 10px 0px;
}
.mimemail-header table .logo img{ 
	float: right;
	width: 100%;
	max-width: 107px;
}
.mimemail-header table .hello-friends img{
	width: 100%;
	max-width: 357px;
}
/* /All mails, except simplenews */

/* Simplenews */
.mimemail-simplenews .body-wrapper{
	width: 90%;
	margin: 0px auto;
	border: 6px solid #efeae8;
	background-color: #fff;
}
.body-header{ 
	clear: both; 
	margin-bottom: 30px; 
	padding: 30px; 
	background:url(http://cooklikemary.ru/sites/all/themes/cooklikemary/images/bg-dotted.png) left bottom repeat-x;
}
.body-header table{ 
	border: none; width: 100%; 
	border-spacing: 10px 0px;
}
.body-header table .logo{ 
	width: 10%; 
}
.body-header table .logo img{ 
	float: right;
	width: 100%;
	max-width: 107px;
}
.body-header table .hello-friends img{
	width: 100%;
	max-width: 357px;
}
.body{
	background: url(http://cooklikemary.ru/sites/all/themes/cooklikemary/images/right-bg.png) 95% 100% no-repeat;
}
.body img{
	width: 100%;
	height: auto;
	margin: 0px auto;
}
#node-body{
	margin-left: 30px;
	margin-right: 30px;
}
.simplenews-footer{
	text-align: center;
	font-size: 12px;
	color: #8e8e8e;
}
/* /Simplenews */