@media print {
	article{ padding: 0px; margin: 0px 33px;}
	header, .breadcrumb, .noprint, .ingredients-buy, .ingredients-print, .social-links, .step-image, .recipe-tags, #block-views-new-recipe-block-4, .comments, .comment-form, #vk_comments, .fb_iframe_widget, .fb_iframe_widget span, footer, .messages, .tabs, .slick .slick__arrow{ display: none !important; }
	h1, .recipe-characteristics td, .flag-action, .step-key, .ingredient-checkbox+label{ -webkit-print-color-adjust: exact; print-color-adjust: exact;}
	h1{ margin-top: 0px; margin-bottom: 10px;}
	.node-recipe .slick{ line-height: 0px;}
	.slick-slide img{ opacity: 0.5; }
	.recipe-characteristics{ margin-top: 0px; margin-bottom: 10px;}
	.recipeInstructions, .step-text{ line-height: 24px; margin-bottom: 20px;}
	p{ margin-bottom: 7px;}
	.left-recipe-sidebar { margin-right: 20px; width: 390px; /*page-break-inside: avoid;*/}
	.ingredients h2{ padding: 0px;  margin: 10px;}
	.ingredients td{ padding: 5px 0px;}
	.ingredients td.group-name{ font-weight: normal;}
	.ingredients a{ color: #766f6a;}
	.main-recipe-content{ width: 634px;}
	#copyright{ padding: 0px;}
}