html{
	padding:0px;
	margin:0px;
}

@font-face {
    font-family: OpenSansLight;
	src: url('fonts/opensanslight.eot?') format('eot'), 
	     url('fonts/opensanslight.woff') format('woff'), 
	     url('fonts/opensanslight.ttf')  format('truetype'),
	     url('fonts/opensanslight.svg#svgFontName') format('svg');
}
@font-face {
    font-family: OpenSans;
	src: url('fonts/opensans.eot?') format('eot'), 
	     url('fonts/opensans.woff') format('woff'), 
	     url('fonts/opensans.ttf')  format('truetype'),
	     url('fonts/opensans.svg#svgFontName') format('svg');
}
@font-face {
    font-family: OpenSansLightItalic;
	src: url('fonts/opensanslightitalic.eot?') format('eot'), 
	     url('fonts/opensanslightitalic.woff') format('woff'), 
	     url('fonts/opensanslightitalic.ttf')  format('truetype'),
	     url('fonts/opensanslightitalic.svg#svgFontName') format('svg');
}
@font-face {
    font-family: OpenSansItalic;
	src: url('fonts/opensansitalic.eot?') format('eot'), 
	     url('fonts/opensansitalic.woff') format('woff'), 
	     url('fonts/opensansitalic.ttf')  format('truetype'),
	     url('fonts/opensansitalic.svg#svgFontName') format('svg');
}
@font-face {
    font-family: studioscriptctt;
	src: url('fonts/studioscriptctt.eot?') format('eot'), 
	     url('fonts/studioscriptctt.woff') format('woff'), 
	     url('fonts/studioscriptctt.ttf')  format('truetype'),
	     url('fonts/studioscriptctt.svg#svgFontName') format('svg');
}
body{
	padding:0px;
	margin:0px;
	width:100%;
	min-width: 480px;
	font-size: 14px;
	line-height: 30px;
	font-family: OpenSansLight;
	color: #525151;
}
body.not-front{
	background: url(images/bg_left.png) repeat-y left top, url(images/bg_right.png) repeat-y right top;
}
footer, nav, header, section, aside { 
	display: block; 
}

tbody{
	border: none;
}
p{
	margin-top: 0px;
}
img{
	max-width: 100%;
	height: auto;
}
a{
	color: #e51758;
	text-decoration: none;
}
a:hover{
	color: #b30048;
	text-decoration: underline;
}
ul{
	padding-left: 12px;
}



h1 {
	font-family: studioscriptctt;
	font-weight: normal;
	text-align: center;
	color: #362418;
	font-size: 48px;
	background: url(images/front_h.png) center center no-repeat;
	line-height: 48px;
	-webkit-margin-before: 0.60em;
    -webkit-margin-after: 0.60em;
}
h2{
	font-family: studioscriptctt;
	font-weight: normal;
	font-size: 32px;
	-webkit-margin-before: 0.60em;
    -webkit-margin-after: 0.60em;
}
h3{
	font-weight: normal;
	font-size: 20px;
	color: #000;
}
h4{
}


/*	form	*/
input[type="submit"],
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"]{
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border-radius: 0;
}
.form-item{
	margin: 0px;
}
.form-submit{
	background-color: #e51758;
	color: #fff;
	font-family: OpenSansLightItalic !important;
	height: 49px;
	line-height: 49px;
	text-align: center;
	border: none;
	font-size: 16px;
	cursor: pointer;
	width: 220px;
	border-radius: 3px;
}
.form-submit:hover{
	background-color: #321e17;
}
.confirmation .form-submit{
	margin-right: 20px;
}
input.form-text{
	border: solid 1px #c4c4c4;
	height: 36px;
	margin-bottom: 17px;
	padding: 0px 10px;
	max-width: 98%;
}
/*	/form	*/



#container{
	position: relative;
	margin: 0px auto;
	width: 1110px;
	background-color: rgba(255, 255, 255, 0.57);
}
#container:after{
	display: block;
	content: "";
	clear: both;
}

/*	header	*/
header{
	position: relative;
	height: 180px;
}
#mobile-menu-button{
	background: url(images/mobile_menu.png);
	font-size: 0px;
	color: #fff;
	position: absolute;
	left: 17px;
	top: 40px;
	width: 25px;
	height: 23px;
	cursor: pointer;
	display: none;
}
#mobile-menu-close{
	background: url(images/krest_menu.png);
	font-size: 0px;
	color: #fff;
	position: absolute;
	right: 17px;
	top: 40px;
	width: 23px;
	height: 23px;
	cursor: pointer;
	display: none;
}
#logo{
	position: absolute;
	top: 9px;
	left: 0px;
}
#slogan{
	font-family: studioscriptctt;
	font-size: 48px;
	position: absolute;
	left: 250px;
	top: 48px;
	color: #321e17;
}
.region-header a:hover{
	text-decoration: none;
}

#block-block-3{
    display: none;
    top: 34px;
    position: absolute;
    left: 17px;
}
#block-cooklikemary-block-subscribe-header{
	float: right;
}
#block-cooklikemary-block-subscribe-header .content a{
	display: block;
	width: 200px;
	background: url(images/tort.png) left center no-repeat;
	padding-left: 50px;
	line-height: 16px;
	font-family: OpenSansLightItalic;
	height: 34px;
	margin-top: 48px;
}
#block-cooklikemary-block-subscribe-header .content a:hover{
	background-image: url(images/tort_h.png);
}
#block-cooklikemary-block-profile-login{
	float: right;
	text-align: right;
}
.login a{
	display: block;
	margin-left: 30px;
	margin-top: 50px;
	padding: 3px 0px 9px 39px;
	font-family: OpenSansLightItalic;
	background: url(images/kolpak.png) left top no-repeat, url(images/vhod.png) right bottom no-repeat;
}
.login a:hover{
	background-image: url(images/kolpak_h.png), url(images/vhod_h.png);
}
.not-logged-in #block-cooklikemary-block-profile-login:before{
	content: "";
	display: inline-block;
	width: 1px;
	height: 23px;
	background-color: #d2cecd;
	margin-top: 59px;
	float: left;
}
#block-cooklikemary-block-profile-login .user-picture-min, #block-cooklikemary-block-profile-login .user-logout{
	display: inline-block;
	vertical-align: middle;
}
#block-cooklikemary-block-profile-login .user-name{
	display: inline;
	border-right: 1px solid #d2cecd;
	padding: 0px 10px;
	color: #321e17;
}
#block-cooklikemary-block-profile-login .user-logout a{
	display: inline-block;
	background: url(images/vihod.png) no-repeat;
	font-size: 0px;
	color: #fff;
	width: 14px;
	height: 15px;
	margin-left: 10px;
}
#block-cooklikemary-block-profile-login .user-logout a:hover{
	background: url(images/vihod_h.png) no-repeat;
}
#block-cooklikemary-block-profile-login .add-recipe{
	display: inline;
	font-family: OpenSansLightItalic;
	border-right: 1px solid #d2cecd;
	padding-right: 10px;
	margin-right: 10px;
}
#block-cooklikemary-block-profile-login .all-recipes{
	font-family: OpenSansLightItalic;
	display: inline;
}


#block-search-form{
	position: absolute;
	right: 0px;
	bottom: 11px;
	z-index: 6;
	border: 1px solid #c4c4c4;
	width: 235px;
	height: 26px;
}
#block-search-form .form-text{
	position: absolute;
	left: 5px;
	top: 3px;
	height: 20px;
	padding: 0px;
	width: 85%;
	border: none;
	font-family: Opensanslight
}
#block-search-form .form-submit{
	background: url(images/poisk.png) center no-repeat;
	width: 16px;
	height: 16px;
	position: absolute;
	display: block;
	right: 7px;
    top: 5px;
	border: none;
	font-size: 0px;
	color: #fff;
	cursor: pointer;
}
#block-search-form .form-submit:hover{
	background: url(images/poisk_h.png) center no-repeat;
}

#main-menu ul{
	padding: 0px;
	margin: 0px;
	position: absolute;
	left: 0px;
	bottom: 0px;
	width: 100%;
	height: 52px;
	line-height: 52px;
	z-index: 5;
	font-family: OpenSans;
	background: url(images/menu.png) left top no-repeat;
}
#main-menu li{
	list-style-type: none;
	list-style-image: none;
	background: url(images/menu_li1.png) left center no-repeat;
	display: inline;
	margin-right: 35px;
	padding-left: 45px;
}
#main-menu li:nth-child(odd){
	background: url(images/menu_li2.png) left center no-repeat;
}
#main-menu li.first{
	background: none;
	padding-left: 0px;
}

#main-menu li a{
	color: #838383;
	text-transform: uppercase;
}
#main-menu li.active-trail a, #main-menu li a:hover{
	color: #e51758;
}


#block-block-4{
	left: 17px;
    text-align: center;
    position: absolute;
    display: none;
    bottom: 50px;
    width: 333px;
	background: url(images/vilka.png) center 66px no-repeat;
}
.subscribe-mobile a {
    display: inline-block;
    background-color: #e51758;
    color: #fff;
    font-family: OpenSansLightItalic;
    width: 100%;
    height: 49px;
    line-height: 49px;
    margin-top: 33px;
	margin-bottom: 50px;
}
.mail-mobile a{
	display: block;
	background: url(images/mail.png) center top no-repeat;
	padding-top: 22px;
	
}
/*	/header	*/


.breadcrumb{
	color: #321e17;
	font-size: 13px;
}
.breadcrumb a{
	color: #838383;
}
.tabs{
	margin-bottom: 15px;
}

/*	aside	*/
aside{
	width: 255px;
	float: left;
	margin-right: 30px;
	position: relative;
}
aside .block{
	margin-bottom: 35px;
}
aside ul{
	padding: 0px;
	margin: 0px;
}
aside ul li, aside ul li.leaf{
	list-style-image: none;
	list-style-type: none;
}

#block-cooklikemary-user-user-image{
	border: 6px solid #ede9e7;
	width: 243px;
	text-align: center;
	color: #9f9f9f;
	background-color: #fff;
	padding-bottom: 23px;
}
#block-cooklikemary-user-user-image .user-name{
	font-family: studioscriptctt;
	font-size: 28px;
	color: #321e17;
	margin: 18px 0px;
}
#block-cooklikemary-user-user-image .user-name:after{
	content: "";
	width: 56px;
	height: 1px;
	display: block;
	background-color: #dfdfdf;
	margin: 30px auto 0px auto;
}
#block-cooklikemary-user-user-menu, #block-menu-menu-about-project{
	background: url(images/aside.png) left top no-repeat;
	padding-top: 10px;
}
#block-cooklikemary-user-user-menu .content li, #block-menu-menu-about-project .content li{
	background: url(images/aside.png) left bottom no-repeat;
	margin: 0px;
	padding-left: 25px;
	line-height: 62px;
}
#block-cooklikemary-user-user-menu .content li a{
	font-family: studioscriptctt;
	font-size: 28px;
	color: #321e17;
	padding-left: 40px;
	background: url(images/osebe.png) left center no-repeat;
}
#block-cooklikemary-user-user-menu .content li a:hover, #block-cooklikemary-user-user-menu .content li a.active{
	text-decoration: none;
	color: #e51758;
	background-image: url(images/osebe_h.png);
}
#block-cooklikemary-user-user-menu .content li.first a{
	background-image: url(images/recepts.png);
}
#block-cooklikemary-user-user-menu .content li.first a:hover, #block-cooklikemary-user-user-menu .content li.first a.active{
	background-image: url(images/recepts_h.png);
}
#block-cooklikemary-user-user-menu .content li.last a{
	background-image: url(images/izbr.png);
}
#block-cooklikemary-user-user-menu .content li.last a:hover, #block-cooklikemary-user-user-menu .content li.last a.active{
	background-image: url(images/izbr_h.png);
}
#block-menu-menu-about-project .content li a{
	font-family: studioscriptctt;
	font-size: 28px;
	color: #321e17;
}
#block-menu-menu-about-project .content li a:hover, #block-menu-menu-about-project .content li a.active{
	text-decoration: none;
	color: #e51758;
}

.block-cooklikemary-filter{
	font-family: OpenSansLightItalic;
}
.block-cooklikemary-filter .add-recipe a{
	display: block;
	text-align: center;
	border: 6px solid #ede9e7;
	width: 243px;
	height: 71px;
	font-family: OpenSans;
	font-size: 12px;
	text-transform: uppercase;
	line-height: 70px;
	background: url(images/aside_top.png) center top no-repeat, url(images/ingredients.jpg) center top;
}
.block-cooklikemary-filter .add-recipe a:hover{
	background: url(images/aside_top_h.png) center top no-repeat, url(images/ingredients.jpg) center top;
	text-decoration: none;
	color: #321e17;
}

.filter-title{
	background-color: #e51758;
	color: #fff;
	height: 49px;
	line-height: 49px;
	font-size: 20px;
	cursor: pointer;
	padding-left: 20px;
	 display: none;
}
.filter-title:hover{
	background-color: #321e17;
	
}
.filter-uncheck{
	cursor: pointer;
	font-size: 0px;
	top: 15px;
	border: none;
	background: url(images/krest_m.png) center top no-repeat;
	width: 17px;
	height: 21px;
	right: 39px;
	position: absolute;
	display: none;
}

.block-cooklikemary-filter h3{
	font-family: studioscriptctt;
	font-size: 28px;
	color: #321e17;
	background: url(images/top.png) right center no-repeat;
	cursor: pointer;
}
.block-cooklikemary-filter h3.close{
	background-image: url(images/bottom.png);
}
li.filter-block-item{
	padding-bottom: 6px;
}
.block-cooklikemary-filter .content li input, .ingredient-checkbox{
	display: none;
}
li.filter-block-item label, .ingredient-checkbox+label{
	background: url(images/filter.png) left bottom no-repeat;
	margin-top: 4px;
	float: left;
	width: 17px;
	height: 17px;
	cursor: pointer;
	margin-right: 12px;
}
li.filter-block-item input:checked + label, .ingredient-checkbox:checked + label{
	background: url(images/filter_checked.png) left bottom no-repeat;
}
li.filter-first-level a{
	color: #321e17;
}
li.filter-second-level a{
	color: #908581;
}
li.filter-second-level{
	padding-left: 25px;
}
.filter-block-all{
	background: url(images/filter_top.png) left bottom no-repeat;
	color: #e51758;
	margin-bottom: 6px;
}
.filter-button{
	display: block;
	margin: 25px auto 0px auto;
	background-color: #e51758;
	color: #fff;
	font-family: OpenSansLightItalic;
	height: 49px;
	line-height: 49px;
	text-align: center;
	border: none;
	font-size: 16px;
	cursor: pointer;
	width: 255px;
}
.filter-button:hover{
	background-color: #321e17;
}
.label-hide{
	display: none;
	position: relative;
}
.show-label{
	position: absolute;
    right: -360px;
    z-index: 20;
    cursor: pointer;
    width: 139px;
    height: 40px;
    background-position: -5px -5px;
    background-image: url(images/show_label.png);
}
.show-label:hover{
    background-position: -5px -55px;
}
.cancel-label{
    position: absolute;
    z-index: 25;
    cursor: pointer;
    background: url(images/cancel_label.png) center no-repeat;
    width: 10px;
    height: 11px;
    top: 10px;
    right: -343px;
}
/*	/aside	*/


/*	article	*/
article{
	position: relative;
	padding-bottom: 50px;
}
.not-front.sidebar-first article{
	width: 825px;
	float: right;
}

div.messages{
	border: none;
	border-left: #fff 2px dashed;
	border-right: #fff 2px dashed;
	padding: 10px 10px 10px 70px;
	font-size: 16px;
	font-family: OpenSansLightItalic;
}
div.status{	
	color: #78a37a;
	background: url(images/ok.png) 30px center no-repeat #ebf3eb;	
}
div.error{	
	color: #d6859d;
	background: url(images/ne_ok.png) 35px center no-repeat #fbecf1;	
}


.sidebar-first h1{
	background: url(images/h1.png) center center no-repeat;
}
article h1 span, .front article h2 span{
	background-color: #fff;
	padding: 0px 35px;
}
article h2{
	background: url(images/h2.png) right center no-repeat;
}
article h2.bezbg{
	background: none;
}

article h2 span{
	background-color: #fff;
	padding: 0px 35px 0px  0px;
}
article li{
	list-style-type: none;
	list-style-image: url(images/li.png);
	padding-left: 12px;
}



.view-new-recipe .view-content{
	margin-left: -15px;
	margin-right: -15px;
}
.view-new-recipe .views-row{
	float: left;
	width: 255px;
	margin: 0px 15px 30px 15px;
	text-align: center;
}
.view-new-recipe .recipe-description{
	width: 217px;
	height: 125px;
	border: 6px solid #ede9e7;
	margin: -96px auto 0px auto;
	color: #9f9f9f;
	background: #fff;
	position: relative;
}
.view-new-recipe .recipe-description h3{
	border: none;
	margin-bottom: 25px;
	overflow: hidden;
    height: 37px;
	line-height: 37px;
}
.view-new-recipe .recipe-description h3 a{
	color: #000;
	font-size: 16px;
	line-height: 18px;
	display: inline-block;
	width: 100%;
}
.view-new-recipe .recipe-description a:hover{
	color: #e51556;
	text-decoration: none;
}
.view-new-recipe .recipe-description:after{
	content: "";
	width: 56px;
	height: 1px;
	display: block;
	background-color: #dfdfdf;
	position: absolute;
	margin-left: -28px;
	left: 50%;
	top: 54%;
}
.view-new-recipe .recipe-description img{
	display: inline-block;
	vertical-align: middle;
}
.not-front .view-new-recipe .recipe-description img{
	width: 30px;
	height: auto;
}
.avatar-mary img{
	border-radius: 50%;
	border: solid 2px #e51758;
}
.recipe-description .field-name-field-recipe-cooking{
	background: url(images/clock.png) left center no-repeat;
	padding-left: 27px;
	display: inline-block;
	margin: 0px 13px;
}
.view-new-recipe:after, #block-views-blog-block:after{
	display: block;
	content: "";
	clear: both;
}

/* Recommend */
.view-new-recipe.view-display-id-block_4 .views-row{
  width: 213px;
}
.view-new-recipe.view-display-id-block_4 .recipe-description{
	width: 180px;
}
.view-new-recipe.view-display-id-block_4 .recipe-description img{
	display: none;
}
/* /Recommend */

.flag-wrapper-flag-count{
	text-align: center;
    width: 80px;
    float: right;
	margin: 7px 23px;
}
.flag-action{
	display: inline-block;
	background: url(images/like.png) center center no-repeat;
	width: 18px;
	height: 18px;
	font-size: 0px;
	color: #fff;
}
.unflag-action{
	display: inline-block;
	width: 18px;
	height: 18px;
	font-size: 0px;
	color: #fff;
	background: url(images/like_h.png) center center no-repeat;	
}
.flag-favorites-count{
	display: inline-block;
	margin-left: 5px;
}
.throbber{
	display: none;
}

#edit-keys{
	height: 45px;
    padding: 0px 12px;
    margin: 0px 10px 17px 0px;
}

/*	/article	*/

/*	pager	*/
.item-list .pager li{
	display: inline-block;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	line-height: 40px;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
}
.pager-current{
	color: #fff;
	background-color: #321e17;
}
.pager li a{
	color: #000;
	display: inline-block;
	width: 40px;
	height: 40px;
	line-height: 40px;
	border-radius: 50%;
}
.pager-next a, .pager-last a, .pager-previous a, .pager-first a{
	background-color: #efeae8;
}
.pager li  a:hover{
	background-color: #e51758;
	text-decoration: none;
}
/*	/pager	*/

/*	footer	*/
footer{
	width: 100%;
	clear: both;
	min-height: 260px;
	background: url(images/bg_bottom.png) repeat-x center top;
	padding-top: 64px;
}
.region-footer{
	margin: 0px auto;
	width: 100%;
	max-width: 1110px;
	background: url(images/footer_logo.png) center center no-repeat;
	min-height: 210px;
}
footer h2{
	color: #fff;
	font-size: 36px;
}
#block-cooklikemary-block-subscribe-footer{
	text-align: center;
	float: right;
	background: url(images/footer_vilka.png) center 85px no-repeat;
}
#block-cooklikemary-block-subscribe-footer .autodialog{
	display: inline-block;
	font-family: OpenSansLightItalic;
	height: 49px;
	line-height: 49px;
	text-align: center;
	border: none;
	font-size: 16px;
	width: 300px;
	border: solid 1px #a9a19e;
	margin-top: 35px;
}
#block-cooklikemary-block-subscribe-footer .autodialog:hover{
	background-color: #e51758;
	color: #fff;
	text-decoration: none;
	border: solid 1px #e51758;
}


#block-block-2{
	float: left;
}
.print-button{
	float: right;
  margin-left: 20px;
  margin-top: -7px;
  cursor: pointer;
}
.socials{
	padding-top: 25px;
}
.socials a{
	display: inline-block;
	width: 26px;
	height: 21px;
	background-image: url(images/socseti.png);
	background-repeat: no-repeat;
	font-size: 0px;
	color: #321e17;
	margin-right: 20px;
}
.socials a:hover{
	background-image: url(images/socseti_h.png);
}
.social-fb{
	width: 17px !important;
	background-position: left center;
}
.social-vk{
	background-position: -185px center;
}
.social-ig{
	background-position: -234px center;
}
.social-yt{
	background-position: -139px center;
}





#copyright{
	text-align: center;
	font-size: 13px;
	color: #321e17;
	max-width: 1110px;
	margin: 0px auto;
	line-height: 19px;
	padding: 40px 0px;
	background-color: #fff;
	
}


/*	/footer	*/


/*	.front	*/
.front #container{
	width: 100%;
}
.front article .block .block-content, .front header{
	max-width: 1110px;
	margin: 0px auto;
}
#block-views-front-slider-block{
	background: url(images/front_bg1.png) center center no-repeat;
}
.slick--slider{
	position: relative;
}
.slick--slider .views-field-nid{
	width: 905px;
	height: 120px;
	margin: -46px auto 0px auto;
	border: 8px solid #ede9e7;
	background-color: #fff;
	position: relative;
	text-align: center;
}
.slider-title{
	font-family: studioscriptctt;
	font-size: 40px;
	margin-top: 25px;
	margin-bottom: 20px;
}
.slider-title a:hover{
	text-decoration: none;
}
.slider-body{
	font-family: OpenSansLightItalic;
	font-size: 18px;
	color: #342019;
}
.front .slick__arrow{
	position: absolute;
	bottom: 75px;
	left: 133px;
	width: 840px;
}
.slick-prev{
	background: url(images/left.png) center center no-repeat;
	width: 9px;
	height: 13px;
	border: none;
	font-size: 0px;
	color: #fff;
	position: absolute;
	left: 0px;
	cursor: pointer;
}
.slick-next{
	background: url(images/right.png) center center no-repeat;
	width: 9px;
	height: 13px;
	border: none;
	font-size: 0px;
	color: #fff;
	position: absolute;
	right: 0px;
	cursor: pointer;
}
.slick-prev:hover{
	background: url(images/left_h.png) center center no-repeat;
}
.slick-next:hover{
	background: url(images/right_h.png) center center no-repeat;
}


.front article .block h2{
	color: #362418;
	line-height: 48px;
	font-size: 48px;
	text-align: center;
	background: url(images/front_h.png) center center no-repeat;
}
#block-views-new-recipe-block{
	background: url(images/front_bg2.png) center bottom no-repeat;
}
.front .view-new-recipe .views-row{
	width: 350px;
}
.front .view-new-recipe .recipe-description{
	width: 297px;
	height: 165px;
	border: 8px solid #ede9e7;
	margin: -132px auto 0px auto;
}
.front .view-new-recipe .recipe-description h3{
	margin-bottom: 31px;
	height: 48px;
	line-height: 48px;
}
.front .view-new-recipe .recipe-description h3 a{
	font-size: 20px;
	line-height: 22px;
}
.front .recipe-description .field-name-field-recipe-cooking{
	margin: 0px 40px;
}


#block-block-1{
	text-align: center;
	margin-bottom: -63px;
    padding-top: 30px;
	letter-spacing: 6px;
}
#block-block-1 .content a{
	display: inline-block;
	font-size: 16px;
	text-transform: uppercase;
	font-family: OpenSans;
	background: url(images/front_cherta.png) center bottom no-repeat;
	padding-bottom: 17px;
}
#block-block-1 .content a:hover{
	background: url(images/front_cherta_h.png) center bottom no-repeat;
	text-decoration: none;
	color: #321e17;
}


#block-views-new-recipe-block-1{
	background: url(images/front_bg3.jpg) center top no-repeat;
	padding-top: 117px;
	padding-bottom: 10px;
}
#block-views-new-recipe-block-1 h2, #block-views-new-recipe-block-1 h2 span{
	background: none;
}
#block-views-new-recipe-block .views-row-last, #block-views-new-recipe-block-1 .views-row-last{
	 display: none;
}
.front .view-footer{
	margin: 0px auto;
	text-align: center;
	font-family: OpenSansLightItalic;
}


.front .view-id-blog .views-row{
	width: 350px;
}
.front .more-link {
    clear: both;
    text-align: center;
}
/*	/.front	*/


/*	blog	*/
#block-views-blog-block{
	position: relative;
	background: url(images/front_bg4_left.png) left center no-repeat, url(images/front_bg4_right.png) right center no-repeat;
}
.view-id-blog .view-content{
	margin-left: -14px;
    margin-right: -14px;
}
.view-id-blog .views-row{
	float: left;
	width: 398px;
	margin: 0px 14px 30px 14px;
	text-align: center;
}
.blog-image-title-body{
	border: solid 1px #d6d5d2;
	background-color: #fff;
	height: 489px;
	color: #73716b;
	text-align: center;
}
.not-front .blog-image-title-body {
    height: 554px;
}
.blog-image-title-body h3 a{
	color: #000;
	font-size: 24px;
	display: inline-block;
    margin-bottom: 20px;
}
.blog-image-title-body:hover{
	color: #321e17;
}
.blog-image-title-body:hover h3 a{
	color: #e51556;
}
.blog-image-title-body h3:after{
	content: "";
	width: 56px;
	height: 1px;
	display: block;
	background-color: #dfdfdf;
	margin: 0px auto;
}
.blog-image-title-body .field-name-body{
	height: 90px;
	overflow: hidden;
	padding: 0px 15px;
}
.view-id-blog .blog-teaser-date{
	width: 272px;
	height: 68px;
	border: 8px solid #ede9e7;
	margin: -41px auto 0px auto;
	color: #a8a8a8;
	line-height: 68px;
	padding-left: 27px;
	background: url(images/clock.png) 87px center no-repeat #fff;
}
.blog-author-name{
	border: solid 1px #3b261f;
	width: 312px;
	height: 87px;
	margin: -118px auto 0px auto;
	position: relative;
}
.blog-author-name a{
	margin: 6px;
	display: block;
	width: 300px;
	height: 75px;
	line-height: 75px;
	text-align: center;
	background-color: rgba(59, 38, 31, 0.95);
	font-family: studioscriptctt;
	font-size: 32px;
	color: #fff;
}
.blog-author-name a:after{
	content: ">";
	font-family: OpenSansLight;
	padding-left: 20px;
	font-size: 20px;
}
.blog-author-name:hover{
	border-color: #dc1855;
}
.blog-author-name:hover a{
	text-decoration: none;
	background-color: #dc1855;
}
/*	/blog	*/

/* basics */
.view-id-blog.view-display-id-page_1 .views-row{
	float: none;
	width: auto;
	margin: 0px 14px 30px 14px;
}
.view-id-blog.view-display-id-page_1 .field-name-field-blog-image{
    float: left;
    margin: 0px 20px 10px 20px;
    width: 390px;
    text-align: left;
}
.node-basics.node-teaser{
    border: solid 1px #d6d5d2;
    padding-right: 20px;
}
/* /basics */

/*	recipe	*/

.node-type-recipe .slick__arrow{
	position: absolute;
	top: 50%;
	left: 0px;
	width: 100%;
	height: 47px;
}
.node-type-recipe .slick-prev, .node-type-recipe .slick-prev:hover{
	background-color: #e7e8e5;
	border-radius: 50%;
	width: 47px;
	height: 47px;
	left: 18px;
	top: -50%;
}
.node-type-recipe .slick-next, .node-type-recipe .slick-next:hover{
	background-color: #e7e8e5;
	border-radius: 50%;
	width: 47px;
	height: 47px;
	right: 18px;
	top: -50%;
}
.recipe-characteristics{
	position: relative;
	height: 45px;
	border: 8px solid #ede9e7;
	margin: 28px 0px 26px 0px;
	background-color: #fff;
	padding: 20px 0px;
}
.recipe-characteristics .user-picture-min{
	display: inline-block;
	vertical-align: middle;
	margin: 0px 10px 0px 23px;
}
.recipe-characteristics .user-name{
	display: inline;
	font-family: studioscriptctt;
	font-size: 25px;
}
.recipe-characteristics table{
	width: 565px;
	position: absolute;
	height: 30px;
	vertical-align: middle;
	top: 27px;
    right: 135px;
}
.recipe-characteristics td{
	height: 30px;
	border-right: 1px solid #dbd8d6;
	padding: 0px 24px;
	text-align: center;
	color: #e51758;
	white-space: nowrap;
}
.recipe-characteristics .field-name-field-recipe-cutting{
	background: url(images/narezka.png) left center no-repeat;
	display: inline-block;
	padding-left: 38px;
}
.recipe-characteristics .field-name-field-recipe-cooking{
	background: url(images/gotovka.png) left center no-repeat;
	display: inline-block;
	padding-left: 42px;
}
.fivestar-widget-static{
	text-align: center;
}
div.fivestar-widget-static .star {
    display: inline-block;
	float: none;
	width: 20px;
	height: 15px;
	background: none;
	margin: 0px 4px;
	font-size: 0px;
	color: #fff;
}
div.fivestar-widget-static .star span.off {
    display: block;
    width: 100%;
    height: 100%;
    background: url(images/fivestar.png) center center no-repeat;
}
div.fivestar-widget-static .star span.on {
    display: block;
    width: 100%;
    height: 100%;
    background: url(images/fivestar_h.png) center center no-repeat;
}
.fivestar-static-item .description{
	display: none;
}
.field-name-field-recipe-persons-count{
	background: url(images/persons.png) left center no-repeat;
	display: inline-block;
	padding-left: 38px;
}


.left-recipe-sidebar{
	padding-bottom: 25px;
	float: left;
	margin-right: 60px;
	width: 350px;
}
.ingredients{
	background: url(images/ingredients_top.png) center top no-repeat, url(images/ingredients_bottom.png) center bottom no-repeat, url(images/ingredients.jpg) center top;
	border: 8px solid #ede9e7;
	font-family: OpenSansLightItalic;
	color: #766f6a;
	font-size: 15px;
	padding: 0px 15px;
}
.ingredients .ingredient-row-additional{
	background: none;
}
.ingredients h2{
	text-align: center;
	color: #e51758;
	padding-bottom: 24px;
	background: url(images/ingredients_h.png) center bottom no-repeat;
}
.field-name-field-recipe-ingredient-comment{
	margin-bottom: 18px;
	text-align: center;
}
.ingredients table{
	 width: 100%;
	 line-height: 19px;
	 border-collapse: separate;
	 border-spacing: 0px;
}
.ingredients tr{
	border: none;
	background: url(images/tochki.png) right 21px repeat-x;
	padding: 0px;	
}
.ingredients td{
	vertical-align: top;
	padding: 7px 0px;
}
.ingredients td:last-child{
	text-align: right;
	color: #e51758;
}
.ingredients td.additional-value{
	text-align: left;
	color: #766f6a;
}
.ingredients td:first-child{
	background: url(images/ingredients.jpg) center center;
	width: 29px;
	vertical-align: top;
}
.ingredient-checkbox+label{
	margin: 0px;
}
.ingredients td span{
	background: url(images/ingredients.jpg) center center;
	border-radius: 5px;
	padding: 2px;
}
.ingredients .not-print span{
	text-decoration: line-through;
}
.ingredients td.group-name{
	color: #321e17;
	text-align: left;
	background: url(images/h2.png) right 18px no-repeat, url(images/ingredients.jpg) center center;
	font-weight: bold;
}
.ingredients td.group-name span{
	padding-right: 15px;
}

.ingredients-buy{
	line-height: 21px;
    margin: 30px;
    padding: 0px 30px 0px 0px;
    display: inline-block;
    border-right: 1px solid #d1cdcb;
	color: #321e17;
}
.ingredients-print{
	display: inline-block;
}
.ingredients-print a{
	display: inline-block;
	background: url(images/print.png) center top no-repeat;
	width: 28px;
	height: 21px;
	font-size: 0px;
}
.ingredients-print a:hover{
	background-image: url(images/print_h.png);
}


.recipe-tags{
	 background: url(images/aside.png) center top no-repeat;
	 margin-top: 27px;
	 padding-top: 35px;	 
}
.recipe-tags a{
	font-family: OpenSansLightItalic;
	color: #321e17;
	display: inline-block;
	background-color: #f1efef;
	margin: 0px 5px 5px 0px;
	padding: 0px 12px;
	border-radius: 3px;
}
.recipe-tags a:hover{
	color: #fff;
	background-color: #a0938f;
	text-decoration: none;
}

.main-recipe-content{
	width: 700px;
	float: right;	
}
.social-links{
	text-align: right;
}
.recipe-steps .field-name-field-recipe-youtube #youtube-field-player{
	width: 100%;
padding-top: 10px;
padding-bottom: 30px;
}
.step-key{
	float: left;
	background: url(images/punkt.png) center center no-repeat;
	width: 33px;
	height: 34px;
	color: #321e17;
	font-size: 16px;
	text-align: center;
	line-height: 34px;
}
.step-text{
	margin-left: 54px;
	margin-bottom: 40px;
}
.step-image{
	margin-bottom: 30px;
}
/*	/recipe	*/


/*	comments	*/
#comments{
	background: url(images/comments.png) center top no-repeat;
	margin-top: 30px;
	padding-top: 40px;
}
.comment{
	clear: both;
	padding-bottom: 30px;
	min-height: 66px;
}
.comment-user-picture-min{
	float: left;
	height: 66px;
}
.comment-author{
	margin-left: 30px;
	color: #321e17;
	font-family: OpenSansItalic;
	padding-right: 15px;
	display: inline;
}
.comment-date{
	display: inline;
	color: #a7a7a7;
	font-size: 13px;
}
.field-name-comment-body{
	margin-left: 100px;
}
.field-name-field-comment-image{
	margin: 25px 0px; 
}
.field-name-field-comment-image .description, .field-name-field-comment-image label{
	display: none;
}
.indented{
	margin-left: 100px;
}
.register-anonimous{
	background: url(images/comments.png) center top no-repeat;
	margin-top: 30px;
	padding-top: 40px;
	text-align: center;
	color: #321e17;
	font-size: 16px;
}
.register-anonimous .register-link a{
	display: inline-block;
	background-color: #e51758;
	color: #fff;
	font-family: OpenSansLightItalic;
	width: 284px;
	height: 49px;
	line-height: 49px;
	margin-top: 25px;
}
.register-anonimous .register-link a:hover{
	text-decoration: none;
	background-color: #321e17;
}
h2.comment-form{
	background: none;
	text-align: center;
}
#comment-form{
	width: 100%;
	max-width: 730px;
	margin: 0px auto;
}
#comment-form .field-name-comment-body{
	margin: 0px;
}
#comment-form .form-type-textarea label, .grippie{
	display: none;
}
#comment-form .form-submit{
	width: 284px;
	margin: 0px auto;
	display: block;
}

/*	/comments	*/

/*	dialog	*/
.ui-dialog{
	border: solid 8px #efeae8;
	padding: 129px 100px 100px 100px;
	text-align: center;
}
.ui-dialog:before{
	background: url(images/dialog_left.png) left center no-repeat;
	content: "";
	height: 100%;
	width: 69px;
	left: -77px;
	top: 0px;
    display: block;
    position: absolute;
}
.ui-dialog:after{
	background: url(images/dialog_right.png) right center no-repeat;
	content: "";
	height: 100%;
	width: 77px;
	right: -85px;
	top: 0px;
    display: block;
    position: absolute;
}
.ui-dialog a{
	color: #e51758;
	
}
.ui-dialog .ui-dialog-content {
    padding: 0px;
}
.ui-dialog .ui-dialog-titlebar{
	background: none;
	border: none;
	padding: 0px;
	position: absolute;
	top: 34px;
	left: 0px;
	width: 100%;
}
.ui-dialog .ui-dialog-title{
	float: none;
	font-family: studioscriptctt;
	font-weight: normal;
	color: #362418;
	font-size: 48px;
	line-height: 48px;
}
.ui-dialog .ui-dialog-titlebar-close{
	top: -24px;
	border: none;
	background: url(images/krest.png) center top no-repeat;
	width: 17px;
	height: 21px;
	margin: 0px;
	right: 19px;
}
.ui-dialog .ui-dialog-titlebar-close:hover{
	background-image: url(images/krest_h.png);
}
.ui-dialog .ui-dialog-titlebar-close span{
	display: none;
}
.ui-widget-overlay{
	background-image: none;
	background-color: #ffffff;
	opacity: 0.9;
}
.ui-dialog input.form-text{
	width: 95%;
	padding: 0px 2%;
}

.ui-dialog .simplenews-subscribe .form-submit{
	margin-top: 50px;
}
.page-newsletter-confirm-add .confirmation .form-submit{
	margin-right: 25px;
}
.reset-pass{
	position: relative;
	top: -51px;
    right: 19px;
	float: right;
	height: 15px;
}


.login-block{
	font-family: OpenSansLightItalic;
}
.login-block:before{
	background: url(images/dialog_vhod_left.png) left bottom no-repeat;
	content: "";
	height: 100%;
	width: 117px;
	left: -125px;
	top: 34px;
    display: block;
    position: absolute;
}
.login-block:after{
	background: url(images/dialog_vhod_right.png) right top no-repeat;
	content: "";
	height: 100%;
	width: 123px;
	right: -131px;
	top: -39px;
    display: block;
    position: absolute;
}
.login-block .ui-dialog-titlebar:before{
	background: url(images/dialog_vhod_top.png) right top no-repeat;
	content: "";
	height: 58px;
	width: 169px;
	right: -7px;
	top: -100px;
    display: block;
    position: absolute;
}
.login-block .register-link{
	background: url(images/mobile_front_line.png) center bottom no-repeat;
	padding-bottom: 35px;
}
.ulogin-processed{
	padding-bottom: 10px;
}
.login-social-text{
	margin: 28px 0px;
}
.ulogin-buttons-container{
	width: 290px !important;
}
.ulogin-buttons-container div{
	margin: 0px 13px !important;
}
/*	/dialog	*/

/* basics */
.view-id-basics .view-header{
	text-align: center;
	font-family: OpenSansLightItalic;
	font-size: 16px;
	font-weight: bold;
}
.view-id-basics.view-display-id-page .view-content{
	margin-left: -15px;
	margin-right: -15px;
	height: 490px;
}
.view-id-basics.view-display-id-page .views-row{
  float: left;
  width: 350px;
  margin: 0px 15px 30px 15px;
  text-align: center;
  height: 100%;
}
.view-id-basics.view-display-id-page .views-row .node-basics.node-teaser{
	padding-right: 0;
	height: 100%;
}
.view-id-basics.view-display-id-page h3:after{
	content: "";
	display: block;
	width: 56px;
	height: 1px;
	background-color: #d7d1bd;
	margin: 25px auto 0 auto;
}
.view-id-basics.view-display-id-page .basics-title-body{
	margin-bottom: 25px;
	padding: 0px 15px;
}
.view-id-basics h3 a{
	font-size: 24px;
	color: #000;
	text-decoration: none;
}

#block-views-basics-block{
	clear: both;
}
#block-views-basics-block h3{
	clear: both;
}
#block-views-basics-block .view-content{
	margin: 0px -15px;
}
#block-views-basics-block .views-row{
	float: left;
	margin: 0px 14px 40px 14px;
	width: 256px;
}
#block-views-basics-block-1{
	clear: both;
}
#block-views-basics-block h3, #block-views-basics-block-1 h2{
  background: url(images/basics_h.png) center center no-repeat;
  font-family: studioscriptctt;
  font-weight: normal;
  text-align: center;
  color: #321e17;
  font-size: 42px;
}

#block-views-basics-block-1 h2.bezbg
{
background: none;
}
#block-views-basics-block h3 span, #block-views-basics-block-1 h2 span{
	background-color: #fff;
  padding: 0px 35px;
}
#block-views-basics-block .views-field-title a{
  width: 198px;
  padding: 10px;
  background-color: #fff;
  margin: -90px auto 0px auto;  
  height: 70px;
  line-height: 70px;
  position: relative;
  display: block;
  text-align: center;
  border: 6px solid #efeae8;
  font-size: 16px;
  color: #000;
}
#block-views-basics-block .views-field-title a span{
  vertical-align: middle;
  line-height: 26px;
  display: inline-block;
}
#block-views-basics-block-1 li.views-row{
	list-style-image: none;
	margin-bottom: 0px;
}
#block-views-basics-block-1 li.views-row:before{
  content: '›';
  margin-right: 20px;    /* any design */
}
/* /basics */

/*banner*/
.login-banner-block .ui-dialog-title{
	font-size: 40px;
	line-height: 40px;
	white-space: normal;
	width: 90%;
}
.login-banner-block .ui-dialog-titlebar{
	padding: 0 100px;
	box-sizing: border-box;
}
.why-register{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	max-width: 570px;
	margin-top: 45px;
}
.why-register div{
	-webkit-flex-basis: 50%;
	flex-basis: 50%;
	-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
	padding-left: 45px;
	background-position: left center;
	background-repeat: no-repeat;
	color: #866c5b;
	font-size: 26px;
	font-family: studioscriptctt;
	text-align: left;
	margin-bottom: 20px;
}
.why-ask{
	background-image: url(images/ask.png);
}
.why-comment{
	background-image: url(images/ask-comment.png);
}
.why-answer{
	background-image: url(images/ask-answer.png);
}
.why-publish{
	background-image: url(images/ask-publish.png);
}
.login-banner-block .social{
	margin-top: 50px;
}
.login-banner-block .social div{
	display: inline-block;
}
.login-banner-block .social-text{
	font-family: studioscriptctt;
	color: #321e17;
	font-size: 30px;
}
.login-banner-block .banner-register{
	display: inline-block;
	margin: 25px auto 0 auto;
	background-color: #e51758;
	color: #fff;
	font-family: OpenSansLightItalic;
	height: 49px;
	line-height: 49px;
	text-align: center;
	border: none;
	font-size: 16px;
	cursor: pointer;
	width: 255px;
	color: #fff;
	margin-left: 20px;
}
/*/banner*/



@media only screen and (max-width: 1157px){
	body.not-front{
		background: none;
	}
	body.front{
		background: url(images/mobile_front_bg1.png) center 293px no-repeat, url(images/mobile_front_bg2.png) center 1245px no-repeat;
	}
	
	#block-cooklikemary-block-subscribe-header, .not-logged-in #block-cooklikemary-block-profile-login:before, .breadcrumb, #block-block-1, .view-new-recipe .recipe-description:after, .view-new-recipe .recipe-description .flag, .block-cooklikemary-filter .add-recipe a, .filter-wrapper{ display: none;}
	
	#mobile-menu-button, #mobile-menu-close, #block-block-4, #block-block-3, #block-views-new-recipe-block .views-row-last, #block-views-new-recipe-block-1 .views-row-last, .filter-title, .filter-uncheck{ display: block;}
	
	#container{
		width: 480px !important;
		overflow: hidden;
	}
	#main-menu ul{
		line-height: 47px;
	}

	.node-basics.node-teaser{
	    padding-right: 0px;
	}
	.view-id-blog.view-display-id-page_1 .field-name-field-blog-image {
	    float: none;
	    margin: 0px;
	    width: auto;
	}

/*	header	*/
	
	header{
		height: 90px;
	}
	#logo{
		left: 60px;
	}
	#logo img{
		width: 140px; 
		height: auto;
	}
	#slogan{
		font-size: 36px; 
		top: 30px;
		}
	
	#mobile-menu{
		display: none; 
		width: 367px; 
		position: absolute; 
		top: 0px; left: 0px; 
		background-color: #fff; 
		height: 805px; 
		z-index: 5;	
	}
	.menu-overlay{
		background-color: rgba(0, 0, 0, 0.25);
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0px;
		left: 0px;
	}
	#block-search-form{
		width: 331px; 
		left: 17px; 
		top: 97px; 
	}
	#block-cooklikemary-block-profile-login{
		top: 157px; 
		float: none; 
		text-align: center; 
		position: relative; 
	}
	.logged-in #block-cooklikemary-block-profile-login{
		top: 150px; 
	}
	.login a{
		background: url(images/kolpak.png) center bottom no-repeat, url(images/vhod.png) center 35px no-repeat;
		padding: 0px 0px 50px 0px; 
		font-size: 16px; 
		margin: 0px;
	}
	.profile{
		margin: 0px;
	}
	#block-cooklikemary-block-profile-login .user-name{
		width: 235px;
		display: inline-block;
		text-align: left;
	}
	#block-cooklikemary-block-profile-login .add-recipe {
		border-right: none;
		padding: 0px;
		margin: 0px;
	}
	#block-cooklikemary-block-profile-login .add-recipe a{
		display: inline-block;
		background-color: #e51758;
		color: #fff;
		height: 49px;
		line-height: 49px;
		text-align: center;
		font-size: 16px;
		width: 188px;
		border-radius: 3px;
	}
	#block-cooklikemary-block-profile-login .all-recipes a{
		display: inline-block;
		background-color: #321e17;
		color: #fff;
		height: 49px;
		line-height: 49px;
		text-align: center;
		font-size: 16px;
		width: 143px;
		border-radius: 3px;
	}
	#main-menu ul{
		width: 333px; 
		top: 275px; 
		left: 17px; 
		background: url(images/mobile_line.png) no-repeat top center; 
	}
	#main-menu li{
		background: none; 
		margin: 0px; 
		padding: 0px; 
	}
	#main-menu li a {
		text-align: center; 
		background: url(images/mobile_line.png) no-repeat bottom center; 
		display: block; 
	}
/*	/header	*/	

/*	aside	*/	
	aside{
		width: 446px !important; 
		float: none !important; 
		padding: 0px 17px;
	}	
	.block-cooklikemary-user, #block-menu-menu-about-project { margin: 30px auto; max-width: 255px; position: relative; z-index: 4;}
	.field-name-field-user-profile-image{ z-index: 1; top: -700px; position: absolute; }
	.block-cooklikemary-filter h3{ background-position: 95% 15px; margin-top: 16px;}
	.block-cooklikemary-filter h3:after, .filter-block > ul:after{ content:""; background: url(images/mobile_line.png); width: 100%; height: 4px; display: block; margin-top: 16px;}
	.filter-block-all{ background: none;}
/*	/aside	*/	

/*	article	*/	
	article{
		width: 480px !important; 
		float: none !important;
	}
	
	h1, .front article h2{
		font-size: 40px !important;
	}
	.front article h2 span { padding: 0px 17px;}
	#block-views-blog-block.close h2, #block-views-new-recipe-block-1.close h2{
		text-align: left; 
		background: url(images/bottom.png) 92% center no-repeat; 
		cursor: pointer; 
	}
	#block-views-blog-block.open h2, #block-views-new-recipe-block-1.open h2{
	text-align: left;
	background: url(images/top.png) 92% center no-repeat;
    cursor: pointer;
}

	
	article .block .block-content, header{
		padding: 0px 17px;
	}
	
	#block-views-front-slider-block .block-content{
		padding: 0px;
		background: none;
	}
	.slick--slider .views-field-nid{
		width: 403px; 
		padding: 0px 15px; 
		height: 120px; 
		margin-top: -45px; 
		border-width: 6px;
	}
	.slider-title{
		margin-top: 20px;
	margin-bottom: 10px;
	font-size:28px;}
	.slider-body
{
font-size:14px;
	}
	.front .slick__arrow{
		width: 420px;
		left: 32px; 
		font-size: 14px;
		bottom: 75px;
	}
	
	.front .block-views{
		background: url(images/mobile_front_line.png) center bottom no-repeat !important;
		padding: 0px 0px 20px 0px !important;
	}
	.front .block-views:first-child{
		background: none !important;
	}
	.view-new-recipe .view-content {
		margin-left: -7.5px; 
		margin-right: -7.5px;
	}
	.view-new-recipe .views-row{
		width: 215px !important; 
		margin: 0px 7.5px 30px 7.5px;
	}
	.view-new-recipe.view-display-id-block_4 .views-row{
		width: 198px !important; 
	}
	.view-new-recipe .recipe-description, .front .view-new-recipe .recipe-description, .view-new-recipe.view-display-id-block_4 .recipe-description{
		padding: 0px 15px; 
		width: 155px; 
		height: 158px; 
		border-width: 6px;
		margin: -95px auto 0px auto;
	}
	.view-new-recipe.view-display-id-block_4 .recipe-description{
		width: 146px; 
	}
	.view-new-recipe .recipe-description h3{ margin-top: 10px; margin-bottom: 10px !important; height: 56px !important; line-height: 52px !important;}
	.view-new-recipe .recipe-description h3 a { font-size: 16px !important; margin-bottom: 0px !important; line-height: 18px !important;}
	.view-new-recipe .recipe-description img { width: 30px;}
	.recipe-description .field-name-field-recipe-cooking{
		min-width: 65px;
		margin: 7px 13px 0px 13px !important;
	}
	
	#block-views-blog-block{
		margin-bottom: 705px;
	}
	.view-id-blog .views-row{
		width: 443px !important;
	}
	.front .view-id-blog .views-row-last{
		bottom: -705px;
		position: absolute;
	}
	.blog-image-title-body{
		height: 554px;
	}
	.view-id-blog .blog-teaser-date{
		width: 364px !important;
	}
	
	
	.main-recipe-content{
		width: 100%;
		float: none;
	}
	.recipe-characteristics{
		padding-top: 10px;
		width: 433px;
		height: 78px;
		margin-top: -37px; 
		border-width: 6px;
	}
	.recipe-characteristics table{
		background-color: #321e17;
		color: #fff;
		border-top: 7px solid #321e17;
		border-bottom: 7px solid #321e17;
		width: 445px;
		right: -6px;
		top: 69px;
	}
	.recipe-characteristics td {
		padding: 0px 10px;
		white-space: normal;
		color: #fff;
	}
	.recipe-characteristics td:last-child{
		border: none;
	}
	.recipe-characteristics .field-name-field-recipe-cutting {
		background-image: url(images/narezka_m.png);
	}
	.recipe-characteristics .field-name-field-recipe-cooking {
		background-image: url(images/gotovka_m.png);
	}
	div.fivestar-widget-static .star span.on {
		background-image: url(images/fivestar_m_h.png);
	}
	div.fivestar-widget-static .star span.off {
		background-image: url(images/fivestar_m.png) ;
	}
	.field-name-field-recipe-persons-count {
		background-image: url(images/persons_m.png);
	}
	.flag-wrapper-flag-count{
		position: absolute;
		top: 13px;
		right: -7px;
}
	
	
	.recipe-wrapper{
	position: relative;
	padding-top: 90px;
	padding-bottom: 45px;
}
	.left-recipe-sidebar{
		width: 100%;
		float: none;
	}
	.recipe-tags {
		position: absolute;
		text-align: center;
		bottom: 0px;
		left: 0px;
		width: 100%;
		background: none;
		padding: 0px;
	}
	.step-image img{
		width: 480px;
		max-width: 480px;
		margin-left: -17px;
	}
	.print-button{
		float: none;
		margin-left: 0px;
	}
	.social-links{
		position: absolute;
		top: 15px;
		left: 0px;
		width: 100%;
		text-align: center;
	}
	.node-type-recipe .slick {
		margin-left: -17px;
		margin-right: -17px;
	}
	#comments, .register-anonimous {
		background: url(images/mobile_front_line.png) center top no-repeat;
	}


/*	/article	*/

	/*	basics	*/
	.view-id-basics.view-display-id-page .views-row{
		float: none;
		margin: 35px auto;
	}
	#block-views-basics-block .views-row{
		float: none;
		margin: 30px auto;
	}
	/*	/basics	*/

/*	footer	*/	
	footer{
		padding-top: 46px;
	}
	.region-footer{
		background-size: 225px;
		background-position: center 135px;
	}
	#block-cooklikemary-block-subscribe-footer{
		float: none !important; 
		margin-bottom: 212px; 
		background: none ; 
		text-align: center;
	}
	#block-cooklikemary-block-subscribe-footer .autodialog{
		margin-top: 5px;
	}
	#block-block-2{
		float: none !important; 
		text-align: center;
		padding-bottom: 40px;
	}
	#block-block-2 h2, #block-block-2 .site-mail{
		display: none;
	}
	.socials a{
		margin: 0px 25px;
	}
/*	/footer	*/
	
}
@media only screen and (max-width: 1000px){
	.ui-dialog{
		width: 384px!important;
		padding: 129px 40px 40px 40px;
	}
	.login-banner-block .ui-dialog-title{
		font-size: 30px;
		line-height: 30px;
		white-space: normal;
		width: 90%;
	}
	.login-banner-block .ui-dialog-titlebar{
		padding: 0 10px;
		box-sizing: border-box;
	}
	.why-register{
		margin-top: 10px;
	}
	.why-register div {
		-webkit-flex-basis: 100%;
		flex-basis: 100%;
	}
	.login-banner-block .social{
		margin-top: 20px;
	}
}
@media only screen and (max-width: 753px){
	.ui-dialog:after, .ui-dialog:before, .login-block .ui-dialog-titlebar:before{
		display: none;
	}
}